# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
vendor/
node_modules/

# Other files and folders
.settings/
test.php
.env
youall.php
storage/
images/
#please create a file with your name in the below list. Then copy the code from youall.php in to the new file.
levi
susan
emmanuel
tony
abart

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

