<div
    class="d-flex flex-row align-items-center border-bottom p-1 font-13 font-grey"
>
    <a><img src="./assets/img/logo.svg" alt="logo" class="logo" /></a>

    <a class="ms-1 logo-text">Pangaea</a>

    <div class="ms-5 nav-item d-flex flex-column align-items-center">
        <a class="nav-a-link active">Home</a>
        <div class="active-indicator rounded active"></div>
    </div>
    <div class="ms-5 nav-item d-flex flex-column align-items-center">
        <a class="nav-a-link">Write</a>
        <div class="active-indicator rounded"></div>
    </div>
    <div class="ms-5 nav-item d-flex flex-column align-items-center">
        <a class="nav-a-link">Earnings</a>
        <div class="active-indicator rounded"></div>
    </div>
    <div class="ms-5 nav-item d-flex flex-column align-items-center">
        <a class="nav-a-link">Upgrade</a>
        <div class="active-indicator rounded"></div>
    </div>
    <div class="ms-5" id="searchBox"></div>
    <div
        class="flex-grow-1 d-flex flex-row justify-content-end align-items-center"
    >
        <i
            class="far fa-bell mx-5"
            style="font-size: 24px; color: dodgerblue"
        ></i>
        <div id="userBar"></div>
    </div>
</div>
<script>
    $("#searchBox").load("./components/searchBox.html");
    $("#userBar").load("./components/userBar.html");
</script>
