<div class="relative">
    <div
        class="flex flex-row border border-gray-200 rounded-md p-1 items-center"
    >
        <i class="fas fa-user-circle m-2 text-blue-400 text-3xl mx-2"></i>
        <span class="flex flex-col items-center mx-2">
            <span class="text-gray-500 text-xs">Emmanuel</span>
            <span class="text-gray-500 text-xs">Ooko</span>
        </span>
        <div
            class="mx-2 w-6 h-6 rounded-full hover:bg-gray-200 flex justify-center items-center"
        >
            <button id="drop-down-btn" class="focus:outline-none">
                <i class="fas fa-chevron-down text-gray-400 mx-2"></i>
            </button>
        </div>
        <div
            class="hidden absolute shadow w-48 text-sm top-16 right-0 rounded z-50 bg-white border text-gray-500 py-3"
            id="drop-down-list"
        >
            <ul class="flex flex-col items-center w-full">
                <a
                    href="logic/procedures/logout.php"
                    class="px-10 py-3 hover:bg-indigo-500 hover:text-white w-full"
                >
                    Logout
                </a>
                <a
                    href=""
                    class="px-10 py-3 hover:bg-indigo-500 hover:text-white w-full"
                >
                    Profile
                </a>
                <a
                    href=""
                    class="px-10 py-3 hover:bg-indigo-500 hover:text-white w-full"
                >
                    Test
                </a>
            </ul>
        </div>
    </div>
</div>

<script>
    let isOpen = false;
    $("#drop-down-btn").click(function (event) {
        event.stopPropagation();
        $("#drop-down-list").removeClass("hidden");
        isOpen = true;
    });

    window.onclick = function (event) {
        if (isOpen) {
            $("#drop-down-list").addClass("hidden");
            isOpen = false;
        }
    };
</script>
